input[type=text] 
{
	padding:5px 5px 5px 5px; 
	border:2px solid rgb(0,0,0); 
	border-radius: 5px;
}
input[type=text]:focus {
	border-color: rgb(255,255,255);
}

@font-face{
	font-family: Questrial;
	src:url("fonts/Questrial-Regular.ttf");
}

@font-face{
	font-family: Birdy Game;
	src:url("fonts/Birdy_Game.ttf");
}

@font-face{
	font-family: Dersu Uzala;
	src:url("fonts/DUB.ttf");
}

@font-face{
	font-family: Color Me;
	src:url("fonts/Color_me_chic.ttf");
	font-weight: bold;
}

@font-face{
	font-family: Brother Tattoo;
	src:url("fonts/BrotherTattoo_Demo.ttf");
}

@font-face{
	font-family: FFF Tusj;
	src:url("fonts/FFF_Tusj.ttf");
	font-weight: bold;
}

@font-face{
	font-family: Urban Elegance;
	src:url("fonts/Urban_Elegance_Regular.ttf");
}

@font-face{
	font-family: Billy Argel;
	src:url("fonts/BILLY ARGEL TRIAL___.ttf");
}

body{
	background-repeat: no-repeat;
}

table td{
	background-color:rgb(120,120,120);
	border-color: rgb(0,0,0);
	border-radius: 25px;
	border-width: 8px;
	font-family:FFF Tusj;
	text-align: center;
	font-size: 400%;
	border-style: solid;
}

table td:hover{
	background-color:rgb(180,180,180);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-*transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

table td a:link{
	color:rgb(0,0,0);
	text-decoration: none;
}

table td a:visited{
	color:rgb(0,0,0);
	text-decoration: none;
}

table td a:hover{
	color:rgb(0,0,0);
	text-decoration: none;
}

table td a:active{
	color:rgb(0,0,0);
	text-decoration: none;
}

.frame_back{
	position: absolute;
	border-radius: 30px;
	background-color:rgb(50,50,50);
	margin-left: 100px;
	margin-top: 100px;
	margin-right: 300px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.frame{
	border-radius: 30px;
	background-color: rgb(120,120,120);
	font-size: 150%;
	font-family:Questrial;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right:310px;
}

.rhs{
	border-radius: 30px;
	background-color: rgb(120,120,120);
	font-size: 150%;
	font-family:Color Me;
	color:rgb(125,0,0);
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	float:right;
}

.frame:hover{
	background-color:rgb(180,180,180);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-*transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.button {
  border-radius: 20px;
  font-family: Color Me;
  color: rgb(200,0,0);
  font-size: 30px;
  background: rgb(0,0,0);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover{
	cursor:pointer;
}

.picaa img{
	border-color:rgb(0,0,0);
	border-style:solid;
	border-radius: 30px;
	border-width: 10px;
	width:100px;
	height:100px;
}

.picaa img:hover{
	border-color: rgb(255,0,0);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-*transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.picaa ul{
	text-decoration:none;
	list-style-type: none;
	float:right;
}